h1 { color: red; border: 1cm;}
.table { color: red; 
        background: rgba(0, 0, 0, 0.39); 
        font: italic; 
        text-decoration: underline;     
        }
#heading_2 {color: orange;
            text-align: center;
            }
.table_2 {text-transform: uppercase;
          text-indent: 2cm;
          line-height: 150%;
          margin-left: 400px;
          margin-right: 400px;
          padding-right: 300px;
          background: url(f1.jpg);
          background-size: 500px;
          background-color: rgba(0, 0, 0, 0.5);

        }



    