  .box {
    width: 100px;
    flex-grow: 1;
  }

  .img {
    width: 50px;
    height: auto;
    border-radius: 10%;
    margin-bottom: 10%;
    min-width: 50%;
  }

  .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto
  }

  .flex-container {
  display: flex;
  text-align: center;
  }

  .one {
    background-color: gold;
  }

  .two {
    background-color: silver;
  }

  .three {
    background-color: burlywood;
  }

  .text {
    font-size:2vw;
    color: #ffffff;
    text-shadow: 2px 2px 2px#000000;
    }

    @media only screen and (max-width: 900px) {
      .wrapper {
        width: 100%;
        max-width: 900px;
        margin: 0 auto
      }
    }
    
    @media only screen and (max-width: 600px) {
      .wrapper {
        width: 100%;
        max-width: 600px;
        margin: 0 auto
      }
    }

    